* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CABEÇALHO */

header {
    height: 10dvh;
    background-color: rgb(4, 94, 153);
    display: flex;
    justify-content: space-around;
}

header nav {
    display: flex;
    width: 40dvw;
    justify-content: space-around;
    align-items: center;
}

header a,
header button {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: .3s ease;
}

header .logo,
header .help {
    width: 15%;
    display: flex;
    place-content: center;
    align-items: center;
}

.help button {
    width: 6em;
    height: 2.5em;
    background-color: rgba(4, 79, 114, 0.404);
    color: white;
    border: none;
    border-radius: 1em;
    cursor: pointer;
}

.help button:hover,
header a:hover {
    transform: scale(.8);
}

/* CORPO */

.container {
    display: flex;
    place-content: center;
}

main {
    align-self: center;
    width: 80%;
    display: flex;
    place-items: center;
    justify-content: space-between;
    gap: 5em;
    margin: 5em 0;
    flex-wrap: wrap;
}

.exercicio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: .5px solid aqua;
    box-shadow: -1px -2px 10px aqua;
    border-radius: 1em;
    width: 17em;
    height: 20em;
    padding: 1.5em;
}

input::placeholder {
    text-align: center;
}

label {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', serif;
}

input,
button {
    text-align: center;
    border-radius: .5em;
    width: 15em;
}

.exerc6 {
    flex-direction: column;
    height: 10em;
    margin-bottom: 5em;
}

.botoes {
    display: flex;
    width: 90%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
}

button {
    border: .5px solid black;
    height: 2em;
    background-color: aquamarine;
    transition: .5s ease;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}

.botoes button {
    width: 4em;
    height: 2em;
}

/* RODAPÉ */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5dvh;
    background-color: rgb(4, 94, 153);
    color: white;
}